@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Noto Serif SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.6;
}

h2 {
    font-family: "Noto Serif SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.6;
}

h3 {
    font-family: "Noto Serif SC", serif;
    font-weight: 350;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.6;
}

h4{
    font-family: "Noto Serif SC", serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
}

h5{
    font-family: "Noto Serif SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.6;
}

img {
    width:inherit;
    height:inherit;
    object-fit: contain;
}

button {
    border-radius: 20pt;
    border: 1pt solid black; 
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    text-align: baseline;
    width: max-content;
    min-height: 1rem;
    font-size: 1rem;
}

.headerWrapper{
    position: fixed;
    top: 0;
    margin-top:0;
    background-color: white;
    width: 100%;
    height: 6.5rem;
    border-bottom: 1pt solid black;
    align-items: baseline;
}

.menu-wrapper{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 1rem;
    margin: 1rem 3rem 1rem 3rem;
    width: auto;
    box-sizing: border-box;
}

.buttons-container {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
}

.aboutPop {
    column-gap: 1rem;
    display: none;
    position: fixed;
    height: 60%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr 2fr;
}

.aboutPoster{
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 20px red
}

.aboutText{
    background-color: black;
    overflow-y:auto;
    inline-size: 95%;
}

.aboutabout{
    border-radius: 50%;
    text-align: left;
    position: relative;
    color: white;
    margin: 1rem 2.5rem 1rem 1rem;
}

.closeaboutPop{
    position: sticky;
    float: right;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.pressPop{
    column-gap: 1rem;
    display: none;
    position: fixed;
    height: 60%;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    grid-template-columns: 1fr;
}

.pressPop a{
    color: yellow;
    text-decoration: underline;
}

.press-wrapper{
    overflow: auto;
    margin: 1rem 2.5rem 1rem 1rem;
    position: relative;
}

.pressList{
    margin-bottom: 1rem;
}

.closepressPop{
    position: absolute;
    float: right;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.listHeader{
    display: grid;
    margin: 1.8rem 3rem 0rem 3rem;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1rem;
    width: auto;
}

.footer{
    width: 100%;
    position: fixed;
    display: grid;
    bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    grid-template-columns: 50% max-content max-content;
    column-gap: 1rem;
}

input{
    width: 100%;
    height: 2rem;
    border-radius: 25pt;
    text-align: center;
    border: 1pt solid black;
}

.toTop{
    height: 2rem;
}

.titlelist{
    margin: 6.4rem 1rem 3rem 1rem;
    min-height: max-content;
    background-attachment: fixed;
    display: block;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details{
    background-color: none;
    clear: both;
    display: grid;
}

details[open]{
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    margin: 0 0.2rem 0 0.2rem;
    clear: both;
    box-shadow: 0px 0px 100px rgb(146, 220, 27);
}

summary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1rem;
    margin: 0 1rem 0 1rem;
    border-top: 1pt solid black;
}

summary:hover{
    box-shadow: 0px 5px 20px red;
}

.detail {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    column-gap: 1rem;
}

.titleColumn{
    margin: 0 3% 0 3%;
}

.intro{
    margin-left: 10%;
}

.info{
    margin-right: 10%;
}

.hide{
    display: none;
}

.show {
    display: grid !important;
}
